body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(17, 31, 31);
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    color: aliceblue;
    
}

header {
    background-color: rgb(44, 17, 17);
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 1vw;
    border-style: double;
    border-color: rgb(244, 145, 96);
}

h1 {
    font-size: 30px;
    margin: 2vw;
}

.header-fish {
    width: 100px;
}

.locations {
    font-style: italic;
}

ul li {
    /* list-style-type: circle; */
    text-align: center;
    padding: 5px;
    float: inline-start;
}

div.contact {
    border-style: dotted;
    border: 1vw;
    border-color: aliceblue;
}

.fampic {
    width: 50%;
}

.cutter {
    width: 30vw;
}

/* .shirt {
    float: right;
} */

h2 {
    font-size: 18px;
    text-decoration: underline;
}

main {
    background-color: rgb(19, 56, 42);
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

footer {
    background-color: rgb(49, 45, 33);
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    color: aliceblue

}

/* https://www.w3schools.com/css/css_link.asp */

a:link {
    color: aliceblue;
<<<<<<< HEAD
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:visited {
    color: rgb(162, 180, 196);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:active {
=======
  }
  
  /* visited link */
  a:visited {
    color: rgb(162, 180, 196);
  }
  
  /* mouse over link */
  a:hover {
    color:aliceblue;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
>>>>>>> main
    color: aliceblue;
  }


/* https://www.w3schools.com/css/css_table.asp */
<<<<<<< HEAD
table,
th,
td {
    margin: 1vw;
    padding: 0.5vw;
    border: 3px solid;
    background-color: rgb(241, 236, 224);
    color: rgb(39, 39, 51);
    font-family: Arial, Helvetica, sans-serif;
=======
table, th, td {
    margin: 2vw;
    padding: 1vw;
    border: 3px solid;
    background-color: rgb(241, 236, 224);
    color: rgb(39, 39, 51);
    word-spacing: 3%;
>>>>>>> main
}

th {
    font-weight: bold;
}

table {
    border: 10px solid rgb(33, 30, 24)
}



